// Menu and logo buttons
.headIcons {
  position: fixed;
  z-index: 3;
  width:100%;
  display:flex;
  justify-content: space-between;
  padding:28px 80px;
  img {
    z-index:2;
      &:hover {
        cursor:pointer;
      }
  }
  .logo {
    height: 32px;
  }
  .hamburger {
    width:20px;
  }
  a {
    z-index: 2;    
  }
}  

// The slide-in menu
.menu {
  background: #231F20;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
  width: 450px;
  height: 100%;
  padding: 40px 80px;
  z-index: 1;
  left: -100vw;
  box-sizing: border-box;
}
.menuInner {
  // position:relative;
  color:#fff;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  height:100%;
  nav {
    padding-top:20%;
  }
  ul {
    list-style: none;
    margin:0;
    padding:0;
  }
  li {
    padding:10px 0;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 300;
    font-style: normal;
  }  
  .npkLink {
    // position: absolute;
    // bottom:40px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 300;
    font-style: normal;
  }
}
.scrim {
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

// Media queries
@media screen and (max-width:960px){
  .menu {
    width:100%;
    padding:32px;
  }
  .headIcons {
    padding:32px;
  }
  .menuInner {
    nav {
      padding-bottom:40px;
    }
    a {
      font-size:28px;
    }
    .npkLink{
      bottom:0;
    }
  }
}